header{
  position: fixed;
  height:50px;
  width:100%;
}

.links a{
  color: rgba(0, 0, 0, 1);
  font-size: 13px;
  font-family: arial,sans-serif;
  display: inline-block;
}
#mail{
  position: fixed;
  left: 1005px;
  top: 12px;
}
#imag{
  position: fixed;
  left: 1055px;
  top: 12px;
}

.Apps {
  position: fixed;
  left: 1135px;
  top: 15px;
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  background-image: url("apps.png");
  display: inline-block;
}

.notificaciones{
  position: fixed;
  left: 1170px;
  top: 15px;
  height: 17px;
  width: 17px;
  background-size: 17px 17px;
  background-image: url("noti.png");
  display: inline-block;
}

.logbut{
  background-color: rgb(66, 133, 244);
  position: fixed;
  left: 1200px;
  top: 10px;
  color: white;
}

main{
}

.logo{
  height: 233px;
  margin-top: 89px;
}
img{
  position: fixed;
  top: 190px;
  left: 500px;
}

.sd{
  flex: 1;
  display: flex;
  padding: 39px 460px 0 16px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  position: fixed;
  top: 315px;
  left: 405px;
  width: 460px;
  height: 39px;
}
#serbox{
  border: none;
  background-color: transparent;
  width: 420px;
  height: 34px;
  position: fixed;
  top: 320px;
  left: 415px;
  outline: none;
}

.mic{
  background: url(mic.png) 0 0 no-repeat;
  height: 24px;
  width: 24px;
  background-size: 24px;
  vertical-align: middle;
  position: fixed;
  top: 325px;
  left: 845px;
}

.botones{
  display: block;
  padding-top: 18px;
  position: absolute;
  top: 365px;
  left: 400px;
  width: 487px;
  height: 58px;
  z-index: 0;
  border: 1px;
}
center{
  display: block;
  text-align: -webkit-center;
}
.bots{
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
}
.bots:hover{
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 1px 1px 1px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #888888;
  opacity: 1.0;
}

















.form-control {
  width: 400px;
  height: 34px;
  position: fixed;
  top: 50;
  bottom: 350px;
  right: 0px;
  left: 400px;

}

.input-group-text{
  background-image: url("mic.png");
  background-size: 24px;
  width: 34px;
  height: 34px;
  position: fixed;
  top: 50;
  bottom: 350px;
  right: 0px;
  left: 800px;
  region-fragment: break;

}
